@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@400;600;900&family=Inter:wght@400;600;700&display=swap');


.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.overview {
  margin-top: 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: start;
  gap: 1em;
}

.primaryContainer {
  width: 600px;
  height: 451px;
  border-radius: 10px;
  background-color: white;
  display: flex;
  align-items: center;
  gap: 30px;
}

.productImage {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.perfume {
  font-family: 'Montserrat', sans-serif;
  color: #98999d;
  font-size: 10px;
  font-weight: 100;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.perfumeName {
  font-family: 'Fraunces', serif;
  font-weight: 700;
  color: #192028;
  font-size: 2.5em;
}
.perfumeDesc {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}

.priceWrapper {
  display: flex;
  align-items: center;
  gap: 2em;
}

.perfumePrice {
  font-family: 'Fraunces', serif;
  font-weight: 900;
  color: #44816a;
}

.perfumeoldPrice {
  font-family: 'Montserrat', serif;
  font-weight: 100;
  font-size: 12px;
  text-decoration: line-through;
}

.add {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  margin-bottom: 2.5em;
  font-size: 14px;
  color: white;
  background-color: #44816a;
  border: 0;
  width: 80%;
  height: 3em;
  border-radius: 10px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}
